/*NAME: Neal Makwana*/
/*UT EID: nhm455*/

p {
    font-family: Arial, sans-serif;
}

.highlighted-text {
    color: darkorange;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: deepskyblue;
}

#sample-image {
    border: 5px solid darkorange;
    width: 50%;
    height: auto;
    display: block;
    margin: 10px;
}

.content-section {
    padding: 20px;
    margin: 15px;
    border: 2px solid darkorange;
}
